#################
# .local folder
#################
.local/share/keyrings/
.local/share/teamviewer14/logfiles
.local/share/icc/
.local/share/keyrings/user.keystore
.local/share/xorg/
.local/share/zeitgeist/
.local/share/evolution/addressbook/system/contacts.db
.local/share/gvfs-metadata/
.local/share/recently-used.xbel
.local/share/SpeedCrunch/
.local/share/teamviewer14/
.local/share/teamviewer15
.local/share/webkitgtk
.local/share/Trash
.local/share/meld/*.meldcmp

#################
# .config folder
#################
.config/code
.config/Code/
.config/filezilla/
.config/git/
.config/ibus/bus/833e72939b2c4208920e53e1787e0232-unix-1
.config/kazam/
.config/monitors.xml~
.config/pulse/13af813cc7114d6d8ce186a4cfd8286e-card-database.tdb
.config/pulse/13af813cc7114d6d8ce186a4cfd8286e-default-sink
.config/pulse/13af813cc7114d6d8ce186a4cfd8286e-default-source
.config/pulse/13af813cc7114d6d8ce186a4cfd8286e-device-volumes.tdb
.config/pulse/13af813cc7114d6d8ce186a4cfd8286e-stream-volumes.tdb
.config/umbrellorc/
.config/xfce4/desktop
.config/terminator/
.config/vlc/
.config/dconf/user
.config/balena-etcher-electron/
.config/libreoffice/4/user
.config/libreoffice/4/*.lock
.config/xfce4/panel
.config/xfce4/terminal
.config/xfce4/xfce4-appfinder
.config/xfce4/xfconf
!.config/teamviewer/client.conf
!.cache/xfce4/xfce4-appfinder/history

##########
# Folders
##########
Documents/
Desktop/
Downloads/
Pictures/
Templates/
airspan/
au_releases/
awesome-cheatsheets/
bash_scripting/
configurations/
c_codebase/
create_ap/
def-28521_tests/
docker-work/
docker_shared_folder/
dockerbuildenv/
documents/
dotfiles/
examples/
getopt-prova/
git/
gitignore/
hostapd/
howtos/
imx_usb_loader/
linux/
linux_iso/
network/
openssh-portable/
professional_enhancement/
snap/
standard-readme/
ue_apis_testing/
uncrustify/
virtualbox/
wlan_kabel/
wpa_supplicant/
gpio-zynq-7000/
sistemi-embedded-task2/
ldd3/
vscode_settings_sync/
evtest/
sphinx*/
i2c-tools/
modelio/synergy/.runtime/.save
modelio/workspace/
1033862/

################
# Hidden Folders
################
.modelio/
.pki/
.mozilla/
.mplayer/
.putty/
.ssh/
.thunderbird/
.vim/
.vscode-cpptools/
.vscode/
.go/

################
# Hidden Files
################
.dia
.java
.oracle_jre_usage
.swt
.thumbnails
.umlet
.face
.dbus
.ICEauthority
.Xauthority
.cache
.gdbinit
.gitconfig
.viminfo
.vimrc
.xsession-errors
.bash_aliases
.bash_history
.bash_logout
.bashrc
.go

############
# Extensions
############
*.png
*.db
*.log.*
*.log

*.old
.wget-hsts
