[Desktop Entry]
X-SnapInstanceName=code
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
X-SnapAppName=code
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/code_code.desktop /snap/bin/code --force-user-env %F
Icon=/snap/code/176/meta/gui/vscode.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;
X-XFCE-Source=file:///var/lib/snapd/desktop/applications/code_code.desktop

[Desktop Action new-empty-window]
Name=New Empty Window
X-SnapAppName=code
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/code_code.desktop /snap/bin/code --force-user-env --new-window %F
Icon=/snap/code/176/meta/gui/vscode.png
